.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  z-index: 1;
  color: #2f80ed;
  text-transform: none;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: 0.5s;
}
